Requirements for the Project.
1. You need to install Jupyter Lab to Run your code.
2. You have to install numpy,pandas and scikit learn package for the project.....
3. pip install numpy pandas sklearn.
Tfidf Vectorizor.
Flask for Web App.
